@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    position: fixed;
top: 0;
left: 0;
overflow: visible;
background-color: black;
}
header {
    height: 50px;
    background-color: 	black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999;
    padding-inline: 11%;
}
.first-con {
    display: flex;
    width: auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 1400px) {
    header {
        padding-inline: 8%;
    }
}
@media only screen and (max-width: 1000px) {
        header {
            padding-inline: 5%;
        }
}
.logo {
    border-right: 3px solid #7289da;
    padding-right: 5px;
}
.right a {
    padding-right: 5px;
}
.facebook a{
    display: flex;
    align-items: center;
}
.fb {
font-size: 20px;
color: #7289da;
}
.left {
    color: white;
    width: auto;
    max-width: 800px;
}
.left > .title {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    width: 100%;
    font-weight: bolder;
}
.left > .text {
        font-weight: lighter;
        color: gray;
        width: 100%;
        max-width: 500px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
    gap: 20px;
    padding-inline: 20px;
}
.bottom {
    opacity: 0;
}
h1 {
    font-size: 15px;
    padding-inline: 5px;
    color: gray;
}

.nameform {
    padding-top: 20px;
    gap: 5px;
    
}

.rights {
    width: 100%;
    max-width: 500px;
    min-width: 400px;
    height: auto;
}
.rights img {
    width: 100%;
    height: 100%;
}
.typenames {
    border: 1px solid red;
}
.typename {
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-inline: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #424549;
    border: none;
    color: white;
    outline: none;
}

button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    background-color: #424549;
    border: none;
    outline: none;
}
.formss {
    display: flex;
    gap: 0;

}
.right {
    cursor: pointer;
}

.textbottom {
    color: white;
}
.rights {
    animation: updwn 2s linear infinite;
}
.textbottom{
    text-align: center;
}
.bottom {
    display: flex;
    align-self: center;
    justify-self: center;
}
@keyframes updwn {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
@media only screen and (max-width: 1075px) {
    .content {
        justify-content: space-evenly;
    }
    .left {
        width: 100%;
        max-width: 400px;
    }
}

@media only screen and (max-width: 949px) {
    .content {
        flex-direction: column-reverse ;
        justify-content: center;
        gap: 0;
        z-index: 20;
        padding-inline: 20px;
        height: 100% !important;
    }
   
    .landingpage {
        height: 100vh !important;
    }
    .text {
        font-size: .7rem;
    }
    .rights {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        width: auto;
    }
    .rights img {
         height: auto;
        width: 80%;
        align-self: center;
    }
    .textbottom{
        text-align: center;
    }
}


@media only screen and (max-width: 390px) {
    .content {
        padding-top: 90px;
    }
    .rights img{
        height: auto;
        width: 50%;
        align-self: center;
      
      }
    .left > .title {
        font-size: 1rem;
    }
    .landingpage {
        height: 100vh !important;
    }
}

.textbottom{
    text-align: center;
    font-size: 10px;
}
.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right {
    text-align: right;
}
.right-2 {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.lines {
    height: 3px;
    width: 20px;
    background-color: white;
    color: #7289da;
    transition: all 0.5s ease-in-out;
}
.toggleMenu {
    .lines:nth-child(1) {
        transform: translateX(-10px);
        height: 3px;
    }
    .lines:nth-child(3) {
        transform: translateX(-10px);
        height: 3px;
    }
}
.right a {
    text-decoration: none;
    color: white;
}


.load {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.loadone, .loadtwo {
    overflow: hidden;
    height: 50vh;
    width: 100%;
    background-color: #1e2124;
    z-index: 9999999999;
}
.loadthird {
    overflow: hidden;
    height: 100vh;
    width: 200vw;
    background-color: #343434;
    z-index: 99999999999;
    position: absolute;
    bottom: -120%;
}
.load-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.loadfourth {
    overflow: hidden;
    height: 120vh;
    width: 200%;
    background-color: #1e2124;
    z-index: 99999999999;
    position: absolute;
bottom: -130%;
}
.outline {
    border: 3px solid red;
}
.textload {
    color: wheat;
    text-align: center;
}
.loadcon {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999999999;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.logos {
    height: 50px;
    width: 50px;
    align-self: center;
    border-radius: 50%;
}

.brand {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999999999;
    transform: translate(-50%, -50%);
    color: wheat;
    opacity: 0;
}

.char {
    transform: translateY(10px) rotate(30deg);
    opacity: 0;
}
.char:hover {
    color: #7289da;
}
.random {
    color: #7289da;
}
.text  {
    opacity: 0;
}

h1 {
    font-size: 10px;
}

.landingpage {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 10px;
    overflow: hidden;
    width: 100vw;
}

.scroll {
display: flex;
width: 200%;
overflow: hidden;
transition: 1s ease-in-out;
transform: translate(0vw);
}

.containers {
    overflow: hidden;
    overflow-x: hidden;
    overflow-x: hidden;
}
.button-container {
    display: flex;
    gap: 5px;
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 5%;
    left: 50%;
}

.button {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.second {
    width: 100vw;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.third {
    width: 100vw;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.author, .third-text, .text-inside {
    color: white;
}
.text-inside a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
.text-inside {
    font-size: 1.5rem;
}
.second > .title-text {
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 4rem)
}
.title-text > .char {

        transform: translateY(10px) rotate(30deg);
        opacity: 0;
    
}
.profile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: bottom;
}
.people-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    position: absolute;
    transform: translate(-100%);
    opacity: 0;

}

.people {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column  ;
}
.profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

@media only screen and (max-width: 560px) {
    .people-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 360px) {
    .people{
        height: 150px;
        width: 150px;
    }
}



.third {
    padding-inline: 20px;
    display: flex;
    gap: 20px;
    position: relative;
}

.third-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.third-left {
    color: white;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.third-text {
    word-wrap: break-word;
    width: 100%;
    max-width: 900px;
    font-size: clamp(1rem, 2vw, 5rem);
    align-self: flex-start;
    color: white;
    
}
.button-text a {
    font-size: 20px;
}
.button-text {
    padding: 10px;
    background-color: #7289da;
    align-self: flex-start;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.button-text:hover {
    background-color: #1e2124;
    color: #7289da;
}
.image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    overflow: hidden;
    align-self: center;
    position: relative;
    }
    .image img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }




.last {
    place-self: center;
    position: relative;
    left: 50%;
}

@media only screen and (max-width: 970px) {
    .third {
        flex-direction: column-reverse;
    }
    .third-left {
        width: 100%;
        max-width: 100%;
    }
    .third-text{
        text-align: left;
    }
    .button-text {
        margin-top: 10px;
        align-self: center;
    }
}

.large {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.large img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .third-right {
        display: flex;
        flex-direction: column;
    }
    .last {
        position: static;
    }
    .image {
        width: 80%;
        height: 50%;
    }
}

.right-container {
    position: relative;
}
.menu {
    position: absolute;
    right: 100%;
    top: -160%;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    visibility: hidden;
}
@media only screen and (max-width: 630px) {
    .menu {
        right: 150%;
    }
}
.menu-text {
    transform: translatex(200px);
    opacity: 0;
}
.btnhover {
    color: aqua;
}
.arrows {
    position: absolute;
    bottom: 10%;
    left: 20%;
    color: black;
}

@media only screen and (max-width: 400px) {
    .image {
        height: auto;
        width: 50%;
    }
}


.name {
    text-align: center;
}